extends layouts/application

block footerScripts

block content
  header.splash
    .splash__container
      include ../assets/images/svg/logo-seekout.svg
      h1.splash__headline!= content.splash.headline
      h2.splash__tagline!= content.splash.tagline
      a.btn.btn--filled.btn--filled-white(href="#anchor--newsletter")!= content.splash.link

  section.screenshots.screenshots--01
    .screenshots__container
      img(src="assets/images/svg/ui-splash--desktop.svg")
      img(src="assets/images/svg/ui-splash--iphone.svg")

  section.about-us
    .about-us__container
      .about-us__row
        .callout
          h2.callout__title!= content.aboutUs.callouts[0].title
          p.callout__description!= content.aboutUs.callouts[0].description
      .about-us__row
        .about-us__screenshots
          img(src="assets/images/svg/ui-iphones.svg")
        .about-us__callout.callout
          h2.callout__title!= content.aboutUs.callouts[1].title
          p.callout__description!= content.aboutUs.callouts[1].description
      .about-us__row
        ul.icon-list
          each listItem in content.aboutUs.list
            li.icon-list__item
              img.icon-list__icon(src="assets/images/svg/icon-#{listItem.iconFilename}.svg")
              h2.icon-list__title!= listItem.title
              p.icon-list__description!= listItem.description

  section.post-your-event
    .post-your-event__container
      .callout.callout--white
        h2.callout__title!= content.postYourEvent.callout.title
        p.callout__description!= content.postYourEvent.callout.description

  section.screenshots.screenshots--02
    .screenshots__container
      .slider.slider--post-your-event
        .slider__slide.screenshots--02__column
          img(src="assets/images/svg/ui-post--iphone-01.svg")
        .slider__slide.screenshots--02__column
          img(src="assets/images/svg/ui-post--iphone-02.svg")
        .slider__slide.screenshots--02__column
          img(src="assets/images/svg/ui-post--iphone-03.svg")

  section.why
    .why__container
      ul.icon-list
        each listItem in content.postYourEvent.list
          li.icon-list__item
            img.icon-list__icon(src="assets/images/svg/icon-#{listItem.iconFilename}.svg")
            h2.icon-list__title!= listItem.title
            p.icon-list__description!= listItem.description

  section.testimonials
    .testimonials__container
      h2.testimonials__title!= content.testimonials.title
      .testimonials__slider.slider.slider--testimonials
        each testimonial in content.testimonials.list
          .slider__slide
            blockquote.testimonials__blockquote!= testimonial.quoteContent
              cite!= testimonial.cite

  section.the-community
    .the-community__container
      .callout.callout--white
        h2.callout__title!= content.theCommunity.callout.title
        p.callout__description!= content.theCommunity.callout.description

  section.newsletter#anchor--newsletter
    .newsletter__container
      .newsletter__prompt
        .callout
          h2.callout__title!= content.newsletter.callouts[0].title
          p.callout__description!= content.newsletter.callouts[0].description
        form.newsletter__form.mailform(action="//seekout.us13.list-manage.com/subscribe/post-json?u=ae1931db620b59e9f14948603&id=468bddb1fb&c=?" method="get" name="mc-embedded-subscribe-form" target="_blank" validate data-error="")
          input.mailform__input.mailform__input--text(type="email" value="" name="EMAIL" placeholder="Enter your email" required)
          .mailform__hp: input(type="text" tabindex="-1" value="")
          input.mailform__input.mailform__input--submit.btn.btn--filled.btn--filled-turq(type="submit" value="INVITE ME" name="subscribe")
      .newsletter__success
        .callout.callout--success
          h2.callout__title!= content.newsletter.callouts[1].title
          p.callout__description!= content.newsletter.callouts[1].description
        .social-links.social-links--large
          ul.social-links__list
            li: a.popup-link(href="http://www.facebook.com/sharer/sharer.php?u=#{metadataURL}" target="_blank" data-popup-size="width=585,height=368"): img(src="assets/images/svg/icon-facebook--filled.svg")
            li: a.popup-link(href="http://www.twitter.com/intent/tweet?url=#{metadataURL}" target="_blank" data-popup-size="width=585,height=261"): img(src="assets/images/svg/icon-twitter--filled.svg")

  footer.footer
    .footer__container
      include ../assets/images/svg/logo-seekout.svg
      p © 2016 SeekOut. All rights reserved. Created with <span class="unicode">♥</span> in San Francisco.
      p Contact us: <a href="mailto:hello@seekout.co">hello@seekout.co</a>
      .social-links
        h3.social-links__title Share this page:
        ul.social-links__list
          li: a.popup-link(href="http://www.twitter.com/intent/tweet?url=#{metadataURL}" target="_blank" data-popup-size="width=585,height=261"): img(src="assets/images/svg/icon-twitter.svg")
          li: a.popup-link(href="http://www.facebook.com/sharer/sharer.php?u=#{metadataURL}" target="_blank" data-popup-size="width=585,height=368"): img(src="assets/images/svg/icon-facebook.svg")