extends layouts/application

block variables
  - var pageTemplate = 'home'
  - var pageTitle = 'Home'

block footerScripts

block content
  header.splash
    .splash__container
      include ../assets/images/svg/logo-seekout.svg
      h1.splash__headline Connect with your community.
      h2.splash__tagline A better way to find and post <em>all</em> LGBTQ events.
      a.btn.btn--filled.btn--filled-white(href="#anchor--newsletter") GET INVITED

  section.screenshots.screenshots--01
    .screenshots__container
      img(src="assets/images/svg/ui-desktop-iphone.svg")

  section.about-us
    .about-us__container
      .about-us__row
        .callout
          h2.callout__title!= content.aboutUs.callouts[0].title
          p.callout__description= content.aboutUs.callouts[0].description
      .about-us__row
        .about-us__screenshots
          img(src="assets/images/svg/ui-iphones.svg")
        .about-us__callout.callout
          h2.callout__title!= content.aboutUs.callouts[1].title
          p.callout__description= content.aboutUs.callouts[1].description
      .about-us__row
        ul.icon-list
          each listItem in content.aboutUs.list
            li.icon-list__item
              img.icon-list__icon(src="//placehold.it/50x50/444/333")
              h2.icon-list__title= listItem.title
              p.icon-list__description= listItem.description

  section.post-your-event
    .post-your-event__container
      .callout.callout--white
        h2.callout__title!= content.postYourEvent.callout.title
        p.callout__description!= content.postYourEvent.callout.description

  section.screenshots.screenshots--02
    .screenshots__container
      img(src="assets/images/svg/ui-iphones-trio.svg")

  section.why
    .why__container
      ul.icon-list
        each listItem in content.postYourEvent.list
          li.icon-list__item
            img.icon-list__icon(src="//placehold.it/50x50/444/333")
            h2.icon-list__title= listItem.title
            p.icon-list__description= listItem.description

  section.testimonials
    .testimonials__container
      h2.testimonials__title We’re making something great. Here’s why...
      .testimonials__slider.slider.slider--testimonials
        each testimonial in content.testimonials
          .slider__slide
            blockquote.testimonials__blockquote= testimonial.quoteContent
              cite= testimonial.cite

  section.the-community
    .the-community__container
      .callout.callout--white
        h2.callout__title Made for the community by the community.
        p.callout__description We’re currently building and will be launching soon in San Francisco! <br>Don’t worry — many other cities coming, too :)

  section.newsletter
    .newsletter__container
      .callout
        h2.callout__title Be a part of it.
        p.callout__description Get invited to receive early access and updates. <br>We’re all in this together. Let's connect, build, and grow our communities.
      form.mailform
        input.mailform__input.mailform__input--text(type="text")
        input.mailform__input.mailform__input--submit.btn.btn--filled.btn--filled-turq(type="submit" value="INVITE ME")

  footer.footer
    .footer__container
      include ../assets/images/svg/logo-seekout.svg
      p © 2016 SeekOut. All rights reserved. Created with <span class="unicode">♥</span> in San Francisco, California.
      p Contact us: <a href="mailto:hello@seekout.co">hello@seekout.co</a>
      .social-links
        h3.social-links__title Share this page:
        ul.social-links__list
          li: a(href="#") FB
          li: a(href="#") TW