//- Schema.org
meta(itemprop="name"            content=pageTitle)
meta(itemprop="description"     content=metadataDescription)
//- OpenGraph
meta(property="og:title"        content=pageTitle)
meta(property="og:site_name"    content="SeekOut")
meta(property="og:type"         content="website")
meta(property="og:url"          content=metadataURL)
meta(property="og:description"  content=metadataDescription)
meta(property="og:image"        content=metadataImage)
//- Twitter
//- meta(name="twitter:card"        content="")
meta(name="twitter:site"        content="seekout")
meta(name="twitter:title"       content=pageTitle)
meta(name="twitter:description" content=metadataDescription)
meta(name="twitter:creator"     content="seekout")
meta(name="twitter:image"       content=metadataImage)